.footer {
  padding: 8.15vh 11.15vw;
  background: #313131;

  .footer-nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 18.23vw;

      li {
        position: relative; 
        text-align: center;
        font-family: var(--font-body);
        font-size: 1.65vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;

        a {
          text-decoration: none;
          color: #fff;
          position: relative;
          transition: color 0.3s ease;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -0.3vh;
            width: 0%;
            height: 2px;
            background: #fff;
            transition: width 0.3s ease;
          }

          &:hover {
            color: #ff9ecd; 
          }

          &:hover::after {
            width: 100%; 
          }
        }
      }
    }
  }
}
