.footer {
  padding: 8.15vh 11.15vw;
  background: #313131;
  
  .footer-nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 18.23vw; 

      li {
        color: #fff;
        text-align: center;
        font-family: var(--font-body);
        font-size: 1.65vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
      }
    }
  }
}
